# this should be copied to config.properties in this folder, and then completed.

server.id = # should contain an integer that uniquely represents this server
db.host = 
db.database = 
db.username = 
db.password = 
ffmpeg.location = 
ffmpeg.probeLocation = 
mp4box.location = 
imagemagick.convertLocation = 
imagemagick.identifyLocation = 
files.webappFilesLocation = 
files.workingFilesLocation = # each server will create another directory in here which matches its id, and this will be the location where files are worked on
